<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.mapper.customprice.CustomPriceMapper">

    <resultMap id="customPriceMap" type="com.jk.model.customprice.CustomPriceBean">
        <id column="id" property="id"></id>
        <result column="project_number" property="projectNumber"></result>
        <result column="project_name" property="projectName"></result>
        <result column="buyer_name" property="buyerName"></result>
        <result column="provider_name" property="providerName"></result>
        <result column="sum_number" property="sumNumber"></result>
        <result column="avg_jsprice" property="avgJsprice"></result>
        <result column="chj_jsprice" property="chjJsprice"></result>
        <result column="avg_jyprice" property="avgJyprice"></result>
        <result column="chj_jyprice" property="chjJyprice"></result>
        <result column="fb_date" property="fbDate"></result>
        <result column="xm_status" property="xmStatus"></result>
        <result column="first_type" property="firstType"></result>
        <result column="second_type" property="secondType"></result>
        <result column="three_type" property="threeType"></result>
    </resultMap>



    <!-- 查询条数 -->
    <select id="queryUserCount"  resultMap="int">
        select count(1) from custom_price
        where 1=1
        <include refid="customPriceWhere"></include>
    </select>

    <select id="queryCustomPriceList" resultMap="customPriceMap" >
        select * from custom_price
        where 1 = 1
        <include refid="customPriceWhere"></include>
        LIMIT #{startIndex},#{endIndex};
    </select>
    <!-- 条件查询 -->
    <sql id="customPriceWhere">
        <if test="customPriceBean.projectName != null and customPriceBean.projectName != ''">
            and project_name like '%${customPriceBean.projectName}%'
        </if>

        <if test="customPriceBean.buyerName != null and customPriceBean.buyerName != ''">
            and buyer_name like '%${customPriceBean.buyerName}%'
        </if>

        <if test="customPriceBean.providerName != null and customPriceBean.providerName != ''">
            and provider_name like '%${customPriceBean.providerName}%'
        </if>

        <if test="customPriceBean.xmStatus != null">
            and xm_status = #{customPriceBean.xmStatus}
        </if>

        <if test="customPriceBean.firstType != null">
            and first_type = #{customPriceBean.firstType}
        </if>
        <if test="customPriceBean.secondType != null">
            and second_type = #{customPriceBean.secondType}
        </if>
        <if test="customPriceBean.threeType != null">
            and three_type = #{customPriceBean.threeType}
        </if>
    </sql>



</mapper>
