<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.mapper.PriceMapper">

    <resultMap id="priceMap" type="com.jk.model.PrizeBean">
        <id column="prize_id" property="prizeId"></id>
        <result column="prize_name" property="prizeName"></result>
        <result column="prize_number" property="prizeNumber"></result>
    </resultMap>



    <select id="queryPrizeList" resultMap="priceMap" >
        select * from p_prize
    </select>



</mapper>